{% extends "base.html" %}
{% block content %}
<div>
    <h1>Hi, {{current_user.username}}</h1>
</div>

<div>
    <h2>Selfies</h2>
    <hr>
    <form action="{{url_for('upload_selfie')}}"method=post enctype=multipart/form-data>

      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <br>
    <p>
    {% if selfie_filename %}
        <img src="{{selfie_filename}}">
    {% else %}
    <div>no image for whatever reason</div>
    {% endif %}
    </p>
</div>

<div>
    <h2>Gifs</h2>
    <hr>
    <form action="{{url_for('upload_gif')}}"method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <p>
        {% if gif_filename %}
            <img src="{{gif_filename}}">
        {% else %}
            <div> no image for whatever reason </div>
        {% endif %}
    </p>
</div>

<div>
    <h2>GiphyMes</h2>
    <hr>
</div>


{% endblock %}
